RETAILCRM_RUN_WRITE_TESTS=0
RETAILCRM_API_URL=https://your-account.retailcrm.ru
RETAILCRM_API_KEY=
RETAILCRM_PROXY_TOKEN=
RETAILCRM_SITE=
RETAILCRM_TEST_OFFER_ID=
RETAILCRM_TEST_PRICE=1
RETAILCRM_ORDER_TYPE=eshop-individual
RETAILCRM_ORDER_METHOD=shopping-cart
RETAILCRM_ORDER_STATUS=new
RETAILCRM_ORDER_CURRENCY=RUB
